* {
  box-sizing: border-box;
}

title {
  color: #fff;
}

body {
  background-color: #eaeaea; /* bgc#90c7e3 */
  color: #555; /* c#fff */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* ffa */
}
#wrapper {
  background-color: #90c7e3; /* bgc#fff */
  background-image: linear-gradient(to bottom, #fff, #90c7e3); /* bgi */
}
header {
  background-color: #000032; /* bgc#000032 */
  background-image: url(images/sunset.jpg); /* bgi */
  background-position: right; /* bgdo */
  background-repeat: no-repeat; /* bgr */
  background-size: contain; /* bgz */
  color: #fff; /* c#fff */
  padding: 0.5em; /* p.5em */
  text-align: center; /* tac */
}
header a {
  text-decoration: none; /* tdn */
}
header a:link {
  color: #fff; /* c#fff */
}
header a:hover {
  color: #90c7e3; /* c#90c7e3 */
}
header a:link {
  color: #fff; /* c#fff */
}
header a:hover {
  color: #90c7e3; /* c#90c7e3 */
}
nav {
  font-size: 120%; /* fz120% */
  font-weight: bold; /* fwb */
  padding: 0; /* p0 */
  text-align: center; /* tac */
}
nav ul {
  font-size: 1.2em; /* fs */
  list-style-type: none; /* listn */
  margin: 0; /* m0 */
  padding-left: 0; /* pl0 */
}
nav li {
  border-bottom: 1px solid #002171; /* bdb1-solid-#002171 */
}
nav a {
  text-decoration: none; /* txd */
  transition: color 3s ease-out;
}
nav a:link {
  color: #5c7fa3; /* c#5c7fa3 */
}
nav a:visited {
  color: #344873; /* c#344873 */
}
nav a:hover {
  color: #a52a2a; /* #a52a2a */
}
main {
  background-color: #fff; /* bg#fff */

  padding: 1px 20px 20px 30px; /* p1-20-20 */
  display: block; /* d:b */
  overflow: auto; /* ova */
}

h1 {
  /* font-size: 3em; fz3em */
  letter-spacing: 0.25em; /* lts.25em */
  margin-bottom: 0.5em; /* mb.5em */
  margin-top: 0.5em; /* mt0.5em */
}
h1,
h2,
h3 {
  font-family: Georgia, "Times New Roman", Times, serif; /* ff */
}
h2 {
  color: #1976d2; /* c#1976d2 */
  text-shadow: 1px 1px #ccc; /* txsd1px1px */
}
h3 {
  color: #003; /* c#003 */
}
h1 {
  margin-bottom: 0; /* mb0 */
}
h2 {
  color: #3b7aad; /* c#3b7aad */
}

footer {
  background-color: #fff; /* bgc#fff */
  font-size: 75%; /* fz75% */
  font-style: italic; /* fsi */
  padding: 2em; /* p2em */
  text-align: center; /* tac */
}
.resort {
  color: #3b7aad; /* c#3b7aad */
  font-weight: bold; /* fwb */
}
.none-list li {
  list-style: none; /* lis:n */
}
.none-list ul {
  padding-left: 0; /* pl:0 */
}
#contact {
  font-size: 90%; /* fz90% */
}
#homehero {
  background-image: url(images/coast2.jpg); /* bgi */
  background-repeat: no-repeat; /* bgr:n */
  background-size: 100% 100%; /* bgz100%100% */
  height: 300px; /* h300px */
}
#companyhero {
  background-image: url(images/company.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 300px;
}
#yurthero {
  background-image: url(images/yurt.jpg); /* bgi */
  background-repeat: no-repeat; /* bgr:n */
  background-size: 100% 100%; /* bgs100%100% */
  height: 300px; /* h300px */
}
#trailhero {
  background-image: url(images/trail.jpg); /* bgi */
  background-repeat: no-repeat; /* bgr:n */
  background-size: 100% 100%; /* bgz100%100% */
  height: 300px; /* h300px */
}
#who {
  display: flex;
  flex-direction: row;
  margin-top: 5em;
}

#who p {
  line-height: 2em;
  padding: 0 4em 0 2em;
}
.companyimage {
  background-repeat: no-repeat;
  width: 300px;
}

.mission p {
  font-size: 30px;
  font-weight: 100;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 0 2em 0 1em;
}
.vision,.contactus,.service{
  padding-top: 30px;
}
.vision p{
  line-height: 2em;
}

.title {
  font-size: 30px;
  font-weight: 100;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 0 2em 0 1em;
}
.description {
  padding: 0 2em 0 2em;
  line-height: 2em;
}
.contactusitem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
}
.contactus p{
  padding: 0 2em 0 2em;
  height: 80px;
}

.btn {
  background: #3399FF;
  color: #ffffff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  overflow: hidden;
  border-bottom: solid 5px #003399;
  margin-right: 5em;
  font-size: 17px;
 }
  
 .btn:active {
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  border-bottom: none;
 } 
 .address {
  display: flex;
  flex-direction: row;
  justify-content: center;
 }


table {
  border-bottom: 2px solid #1976d2; /* bdb */
  border-collapse: separate;
}
th {
  background-color: #1976d2; /* bgc#1976d2 */
  color: #fff; /* c#fff */
}
td,
th {
  padding: 0.5em; /* p.5em */
  /* border: 2px solid #39c */
}
td {
  text-align: center; /* tac */
}
.text {
  text-align: left; /* tal */
}
tr:nth-last-of-type(odd) {
  background-color: #ffcd6f; /* bgc#ffcd6f */
}
form {
  display: flex; /* df */
  flex-flow: column nowrap;
}
input,
textarea {
  margin-bottom: 0.5em; /* mb.5em */
}
video {
  float: right; /* fr */
  margin: 1em; /* m1em */
}
#gallery {
  display: grid; /* dg */
  gap: 2em; /* g2em */
}
#gallery img {
  box-shadow: 10px 10px 10px #777;
  text-align: center; /* tac */
  width: 100%; /* w100% */
}
@media (max-width: 600px) {
  header {
    background-image: none; /* bgi:n */
  }
  #homehero,
  #yurthero,
  #trailhero {
    background-size: auto; /* bgs:a */
  }
  /* Table styles for smartphone devices */
  #special table {
    display: block; /* db */
    border-bottom: none; /* bbn */
  }
  #special td,
  #special th {
    display: block; /* db */
  }
  /* Hide the table header elements */
  #special thead {
    display: none; /* dn */
  }
  td.package::before {
    content: "Package:";
  }
  td.description::before {
    content: "Description:";
  }
  td.nights::before {
    content: "Nights:";
  }
  td.cost::before {
    content: "Cost:";
  }
  td.package,
  td.description,
  td.nights,
  td.cost {
    padding-left: 35%; /* pl35% */
    position: relative; /* pos:r */
    text-align: left; /* ta:l */
    font-size: 4vw;
  }
  td::before {
    position: absolute; /* po:a */
    top: 10px; /* t10px */
    left: 0.5em; /* l.5em */
    font-weight: bold; /* fw:b */
    color: #1976d2; /* c#1976d2 */
  }
  td:last-of-type {
    border-bottom: 2px solid #1b69b2; /* bb2px-s */
  }
}
@media (max-width: 985px) {
  .btn {
    margin-bottom: 2em;
    width: 90px;
    height: 90px;
    line-height: 90px;
}
.contact1{
  display: flex;
  flex-direction: column;
}
}
@media (max-width: 900px) {

  #who {
    display: flex;
    flex-direction: column;
  }
  .item2{
    padding-left: 2em;
    padding-bottom: 30px;
  }
  .address {
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    padding-left: 2em;
    text-align: center;
  }

}
@media (min-width: 600px) {
  nav ul {
    display: flex; /* df */
    flex-direction: row; /* fdr */
    flex-wrap: nowrap; /* fw */
    justify-content: space-around; /* jc */
  }
  nav li {
    border-bottom: none; /* bbn */
  }
  .flow {
    display: flex; /* df */
    flex-direction: row; /* fdr */
  }
  .section {
    flex: 1; /* flex1 */
    margin-right: 1em; /* mr1em */
  }
  form {
    display: grid; /* dg */
    grid-template-columns: 6em 1fr;
    gap: 1em; /* g1em */
    max-width: 30em; /* mw30em */
    width: 60%; /* w60% */
  }
  input[type="submit"] {
    grid-column: 2 / 3;
    width: 9em; /* w9em */
  }
  #gallery {
    grid-template-columns: repeat(2, 1fr);
  }

}
@media (max-width: 730px) {
  video {
    display: block; /* db */
    float: none;
    clear: both;
    max-width: 100%; /* mw100% */
    margin: 0 auto; /* m0a */
  }
}
@media (min-width: 1024px) {
  #wrapper {
    margin: auto; /* m:a */
    width: 80%; /* w80% */
    border: 1px solid #002171; /* bd1-solid-#002171 */
    box-shadow: 3px 3px 3px #002171; /* bsd */
  }
  nav {
    text-align: left; /* ta:l */
    padding-left: 1em; /* pl1em */
  }
  @supports (display: grid) {
    nav ul {
      flex-direction: column;
      padding-top: 1em;
    }
    .hero {
      grid-area: hero;
    }
    header {
      grid-area: header;
    }
    nav {
      grid-area: nav;
    }
    main {
      grid-area: main;
    }
    #gallery {
      grid-area: gallery;
    }
    footer {
      grid-area: footer;
    }
    #wrapper {
      display: grid;
      grid-template:
        "header header"
        "nav hero"
        "nav main"
        "nav footer"
        / 180px 1fr;
    }
    #gallery {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
