header {
  background-image: url(yoga_images/sunrise.jpg);
  background-size: contain;
  background-position: right;
  color: #fff;
  background-color: #484541;
  background-repeat: no-repeat;
  line-height: 400%;
  text-indent: 1em;
}
nav {
  background-color: #ffd057;
  color: #523a1a;
  font-weight: bold;
}
nav li {
  list-style: none;
}
nav a {
  text-decoration: none;
}
img{
  width: 100%;
}

main ul{
  list-style: none;
}

h2 {
  color: #523a1a;
}

dt {
  background-color: #a1ccc1;
}
div p{
  background-color: #a1ccc1;
}
