h1 {
  background-color: #ffa357;
  color: #523a1a;
}
nav {
  background-color: #ffd057;
  color: #523a1a;
}
h2 {
  color: #523a1a;
}
div {
  background-color: #a1ccc1;
}
dt {
    background-color: #a1ccc1;
}
